/* Estilos generales */
body {
    font-family: "Verdana", serif;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox para el diseño de la página */
    flex-direction: column; /* Alinea los elementos verticalmente */
    min-height: 100vh; /* Establece una altura mínima para ocupar toda la pantalla */
}

header, footer, main, aside {
    padding: 20px;
}

/* Estilos de la cabecera */
header {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 30px;
}

.logo,
.subtitle,
nav {
    margin-bottom: 0px; /* Añade espacio entre cada sección */
}


nav ul {
    list-style: none; /* Elimina los estilos de viñetas de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

nav ul li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 10px; /* Añade espacio entre los elementos de la lista */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

/* Estilo del content*/
.content {
    display: flex; /* Utiliza flexbox para alinear horizontalmente el aside y el main */
}


/* Estilos de la zona lateral auxiliar */
aside {
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    padding: 20px;
    width: 200px; /* Fija el ancho del aside */
}

/* Estilos de la zona principal */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    /* flex: 1; */
}


.activity {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.activity img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
   /* padding: 50px; */
}

.activity p {
    margin: 0;
}

article {
    display: block; /* Cambiar la visualización de article de flex a bloque */
    padding: 30px;
}

article img {
    float: right; /* Utilizar float para alinear la imagen a la derecha */
    width: 250px; /* Esto puede estar aquí o en el atributo style del HTML */
    height: auto; /* Esto puede estar aquí o en el atributo style del HTML */
    margin-right: 20px; /* Esto puede estar aquí o en el atributo style del HTML */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Eliminar subrayado */
    border-radius: 5px; /* Borde redondeado */
}

.redes-sociales {
    text-align: center; /* Centra los elementos horizontalmente */
    line-height: 50px; /* Establece la altura de línea igual al tamaño de las imágenes */
}

.redes-sociales a {
    display: inline-block; /* Convierte los enlaces en elementos de bloque */
    margin: 0 10px; /* Agrega margen horizontal entre los enlaces */
    vertical-align: middle; /* Alinea verticalmente los elementos en el medio */
}

.redes-sociales img {
    width: 30px; /* Establece un ancho fijo para las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilos del pie de página */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}